<h1><b>Delivery Fulfillment</b></h1>
<div class="row">
  <div class="col-md-8">
    <%= form_for(@invoice2_edit, url: update_invoice2_invoice_path(@invoice2_edit)) do |f| %>
      <div class="form-group">
        <label>Plate Number</label>
       <%= f.text_field :plate_no, class: "form-control",placeholder: "Enter Plate Number", :required=> true %>
      </div>
      <div class="form-group">
        <label>Delivery Crew</label>
       <%= f.text_field :delivery_crew, class: "form-control",placeholder: "Enter Delivery Crew", :required=> true %>
      </div>
      <div class="form-group">
        <label>Seal Number</label>
       <%= f.text_field :seal_no, class: "form-control",placeholder: "Enter Seal Number", :required=> true %>
      </div>
      <div class="form-group">
        <label>Delivery Status</label>
       <%= f.select :delivery_status, [["Deliver","Deliver"],["Undelivered", "Undelivered"],["Cancelled", "Cancelled"],["Backload","Backload"],["Re-delivered","Re-delivered"]] %>
      </div>
      
      
      
      
      <div class="form-group">
        <%= f.submit "Delivery Fulfillment", class: 'btn btn-success' %>
      </div>
    <%end%>
  </div>
</div>