<!--<h1> Generate Employees Data</h1>-->
<!--<table id = "working_hours1">-->
<!--    <thead>-->
<!--      <tr>-->
<!--        <th data-sortable="true">ID</th>-->
<!--        <th data-sortable="true">Name</th>-->
<!--        <th>Email</th>-->
<!--        <th>Birthday</th>-->
<!--        <th>Gender</th>-->
<!--        <th>SSS</th>-->
<!--        <th>TIN</th>-->
<!--        <th>Phil Health</th>-->
<!--        <th>Pag Ibig</th>-->
<!--        <th>Civil Status</th>-->
<!--        <th>Starting Date</th>-->
<!--        <th data-sortable="true">Position</th>-->
<!--        <th data-sortable="true">Business Division</th>-->
<!--        <th data-sortable="true">Region Assignment</th>-->
<!--        <th data-sortable="true">Employment Status</th>-->
<!--        <th data-sortable="true">Access Rights</th>-->
<!--      </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--      <% @users.each do |user| %>-->
<!--      <tr>-->
<!--        <td><%= user.id %></td>-->
<!--        <td><%= user.name %></td>-->
<!--        <td><%= user.email %></td>-->
<!--        <td><%= user.birthday %></td>-->
<!--        <td><%= user.gender %></td>-->
<!--        <td><%= user.sss_id %></td>-->
<!--        <td><%= user.tin_id %></td>-->
<!--        <td><%= user.phil_health %></td>-->
<!--        <td><%= user.pag_ibig_no %></td>-->
<!--        <td><%= user.civil_status %></td>-->
<!--        <td><%= user.starting_date %></td>-->
<!--        <td><%= user.position %></td>-->
<!--        <td><%= user.division %></td>-->
<!--        <td><%= user.region %></td>-->
<!--        <%- if (user.is_active).to_s == 'true'%>-->
<!--        <td>Active</td>-->
<!--        <%-elsif (user.is_active).to_s == 'false'%>-->
<!--        <td>Inactive</td>-->
<!--        <%-else%>-->
<!--        <td>Not Yet Assigned</td>-->
<!--        <%end%>-->
<!--        <%- if(user.role).to_s == 'admin'%>-->
<!--        <td>Administrator</td>-->
<!--        <%-elsif (user.role).to_s == 'employee'%>-->
<!--        <td>Employee</td>-->
<!--        <%-else%>-->
<!--        <td>Not Yet Assigned</td>-->
<!--        <%end%>-->
<!--      </tr>-->
<!--      <%end%>-->
<!--    </tbody>-->
<!--</table>-->

<iframe width="1480" height="920" src="https://www.cloud9charts.com/d/67d15tTbsTdJqG8H2RBxpohtxmbisZkpvjL6VJ971WZUie" frameborder="0" allowfullscreen></iframe>






